# Enable debug borders on all elements | boolean
VITE_DEBUG_BORDERS=false
# Force change theme | light/dark/ (empty - system)
VITE_THEME=
# Enable real API requests | boolean
VITE_ENABLE_API=false
# Default path for development | string (leave empty to open Auth)
VITE_DEV_ENTRY_PATH=/chat
